.container {
	margin: 30px auto;
}

.submit, .form-group {
	width: 1110px;
	margin: 15px auto;
}

.jumbotron {
	background-color: #CCE7F4;
	color: #317db7;
	margin-bottom: 30px;
}

#top-panel {
	margin-bottom: 30px;
}